# Node.js / React
node_modules/
dist/
build/

# Environment variables
.env

# OS files
.DS_Store       # macOS system file
Thumbs.db       # Windows system file

# IDEs
.vscode/         # VSCode settings folder
.idea/           # JetBrains IDE settings folder
*.sublime-project
*.sublime-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
